In [1]:
%reset -s -f
%load_ext autoreload
%autoreload 2

In [2]:

import sys
sys.path.append("./../")
from src.sql import ClauseManagement, ConditionQuery , SQL

In [3]:
from_clause = SQL.define_table(table_names=["A_TABLE"])
select_clause = SQL.define_select_column(cols=["COUNT(*) AS COUNT_INFO"])

In [4]:
q1 = SQL.make_query(
        select_c=select_clause,
        from_c=from_clause,
        
)
print(SQL.finish_query(q1))

SELECT COUNT(*) AS COUNT_INFO
FROM A_TABLE;

In [5]:
from_clause = SQL.define_table(table_names=["A_TABLE"])
select_clause = SQL.define_select_column(cols=["A_COLUMN", "COUNT(*) AS COUNT_INFO"])
group_clause = SQL.define_group(cols=["A_COLUMN"])
q2 = SQL.make_query(
        select_c=select_clause,
        from_c=from_clause,
        group_c=group_clause,
)
print(SQL.finish_query(q2))

SELECT A_COLUMN, COUNT(*) AS COUNT_INFO
FROM A_TABLE
GROUP BY A_COLUMN;

In [6]:
from_clause = SQL.define_table(table_names=["A_TABLE"])
select_clause = SQL.define_select_column(cols=["A_COLUMN", "COUNT(*) AS COUNT_INFO"])

where_sql = ConditionQuery("A_COLUMN")
where_q1 = where_sql.q_between(10, 15)
where_q2 = where_sql.q_greather(30)
where_q = ClauseManagement.add_condition_multiple(where_q1, where_q2, method="OR")
where_clause = ClauseManagement.finish_query(where_q, method="where")
q3 = SQL.make_query(
        select_c=select_clause,
        from_c=from_clause,
        where_c=where_clause,
)
print(SQL.finish_query(q3))

SELECT A_COLUMN, COUNT(*) AS COUNT_INFO
FROM A_TABLE
WHERE A_COLUMN BETWEEN 10
AND 15
OR A_COLUMN > 30;

In [7]:
from_clause = SQL.define_table(table_names=["A_TABLE"])
select_clause = SQL.define_select_column(cols=["A_COLUMN", "COUNT(*) AS COUNT_INFO"])

where_sql = ConditionQuery("C_COLUMN")
where_q = where_sql.q_in(['A',"B","C"],to_string="true")
where_clause = ClauseManagement.finish_query(where_q, method="where")
q3 = SQL.make_query(
        select_c=select_clause,
        from_c=from_clause,
        where_c=where_clause,
)
print(SQL.finish_query(q3))

SELECT A_COLUMN, COUNT(*) AS COUNT_INFO
FROM A_TABLE
WHERE C_COLUMN IN ('A', 'B', 'C');

In [8]:
from src.sql import Column

In [9]:
from_clause = SQL.define_table(table_names=["A_TABLE A"])
table_c_1 = Column()
table_c_1.add_table_column_info(["A_COLUMN","B_COLUMN","C_COLUMN","D_COLUMN"],alias="A")

A_1 = table_c_1.define("A_COLUMN").get()
A_2 = table_c_1.calculate("C_COLUMN","/").alias("RATIO").get()

select_clause = SQL.define_select_column(cols=[A_1,A_2])
where_sql = ConditionQuery(table_c_1.define("C_COLUMN").get())
where_q = where_sql.q_in(['A',"B","C"],to_string="true")
where_clause = ClauseManagement.finish_query(where_q, method="where")
q3 = SQL.make_query(
        select_c=select_clause,
        from_c=from_clause,
        where_c=where_clause,
)
print(SQL.finish_query(q3))

SELECT A.A_COLUMN, (A.A_COLUMN / A.C_COLUMN) AS RATIO
FROM A_TABLE A
WHERE A.C_COLUMN IN ('A', 'B', 'C');

In [23]:
del Column
from src.sql import Column
table_c_1 = Column()
table_c_1.add_table_column_info(["a","b","c","d"],alias="A")
table_c_2 = Column()
table_c_2.add_table_column_info(["a","b","c","d"],alias="B")


#table_h.divide(val="a")
table_c_1.define("a")
table_c_1.calculate("b",method="/")
print(table_c_1.alias("RATIO").get())

(A.a / A.b) AS RATIO

In [24]:
table_c_1.define("a")
table_c_2.define("c")
table_c_1.calculate(table_c_2,method="/").get()
print(table_c_1.alias("RATIO").get())

(A.a / B.c) AS RATIO

In [26]:
table_c_1.define("RATIO").calculate("b",method="*").alias("STH").get()

'(A.RATIO * A.b) AS STH'